force-app/main/default/flows/Add_Policy_Coverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Fire</name>
        <choiceText>Fire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flood</name>
        <choiceText>Flood</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flood</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windstrom</name>
        <choiceText>Windstrom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windstrom</stringValue>
        </value>
    </choices>
    <decisions>
        <name>NBA_state_check</name>
        <label>NBA state check</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_Policy_Coverage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Florida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Florida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_Adding_Coverage_Details</targetReference>
            </connector>
            <label>Florida</label>
        </rules>
        <rules>
            <name>Ohio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ohio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_Adding_Coverage_2</targetReference>
            </connector>
            <label>Ohio</label>
        </rules>
        <rules>
            <name>Minnesota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minnesota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_Adding_Coverage_3</targetReference>
            </connector>
            <label>Minnesota</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateTask</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Add Policy Coverage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Policy Coverage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Task_for_Florida</name>
        <label>Task for Florida</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Add_Policy_Coverage</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>BodyForFlorida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Related_Account.RSI_Insurance_Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Policy coverage to existing policy for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Minnesota</name>
        <label>Task for Minnesota</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Add_Policy_Coverage</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>bodyMinnesota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Related_Account.RSI_Insurance_Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Policy coverage to existing policy for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Ohio</name>
        <label>Task for Ohio</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Add_Policy_Coverage</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>bodyforohio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Related_Account.RSI_Insurance_Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Policy coverage to existing policy for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Insurance_Policy</name>
        <label>Get Home Insurance Policy</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NBA_state_check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND  ( 3 OR 4 )</filterLogic>
        <filters>
            <field>RSI_Policy_Holder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RSI_Policy_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Insurance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Discussion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RSI_Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home_Insurance_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Policy_Coverage</name>
        <label>Add Policy Coverage</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Script&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Thank you. I will add necessary coverage in your policy and activate it once everything is complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Adding_Coverage_2</name>
        <label>Screen for Adding Coverage 2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Task_for_Ohio</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_PolicyCoverageDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Coverage Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc23</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Take necessary details from the customer to add coverage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_for_Adding_Coverage_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_for_Adding_Coverage_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Coverage_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Windstrom</stringValue>
                    </defaultValue>
                    <fieldText>Coverage Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_CoverageTypeText</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Limit_Of_Libility</name>
                    <dataType>Currency</dataType>
                    <fieldText>Limit Of Liability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Adding_Coverage_3</name>
        <label>Screen for Adding Coverage 3</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Task_for_Minnesota</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_PolicyCoverageDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Coverage Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scer4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Take necessary details from the customer to add coverage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_for_Adding_Coverage_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_for_Adding_Coverage_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Coverage_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Flood</stringValue>
                    </defaultValue>
                    <fieldText>Coverage Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Copy_1_of_CoverageTypeText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 36, 36); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Protection against flood damages from problems like hurricanes and territorial rain.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Limit_Of_Libility</name>
                    <dataType>Currency</dataType>
                    <fieldText>Limit Of Liability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Adding_Coverage_Details</name>
        <label>Screen for Adding Coverage Details</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Task_for_Florida</targetReference>
        </connector>
        <fields>
            <name>PolicyCoverageDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Coverage Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>script1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Take necessary details from the customer to add coverage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_for_Adding_Coverage_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_for_Adding_Coverage_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Coverage_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Windstrom</stringValue>
                    </defaultValue>
                    <fieldText>Coverage Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CoverageTypeText</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Limit_Of_Libility</name>
                    <dataType>Currency</dataType>
                    <fieldText>Limit Of Liability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyForFlorida</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The customer is interested in adding the &apos;Windstorm&apos; coverage for their home insurance. Please contact the customer and update the policy {!$Label.RS_Domain_Name}{!Get_Home_Insurance_Policy.Id}
Coverage Type : Windstorm
Limit Of Lability : {!Limit_Of_Libility}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyforohio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The customer is interested in adding the &apos;Windstorm&apos; coverage for their home insurance. Please contact the customer and update the policy {!$Label.RS_Domain_Name}{!Get_Home_Insurance_Policy.Id}
Coverage Type : Windstorm
Limit Of Lability : {!Copy_1_of_Limit_Of_Libility}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyMinnesota</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The customer is interested in adding the &apos;Flood&apos; coverage for their home insurance. Please contact the customer and update the policy {!$Label.RS_Domain_Name}{!Get_Home_Insurance_Policy.Id}
Coverage Type : Flood
Limit Of Lability : {!Copy_1_of_Copy_1_of_Limit_Of_Libility}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
