force-app/main/default/flows/Appoinment_Scheduled_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.SMS_Channel_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Appointment_Scheduled_Confirmation_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Appointmwnt_Owner</name>
        <label>Send Notification To Appointmwnt Owner</label>
        <locationX>578</locationX>
        <locationY>888</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SendAppointmentNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Appointment  {!$Record.AppointmentNumber} has been asigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientUserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_Recepient_Users</name>
        <label>Get Recepient Users</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>RecepientUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resource_Details.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_To_Appointmwnt_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Record_Type</name>
        <label>Check Parent Record Type</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Parent_Record_Type_is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Details</targetReference>
            </connector>
            <label>If Parent Record Type is Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DurationOfAppointment</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Appoinment Scheduled Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appoinment Scheduled Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Apppintment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Details</name>
        <label>Get Service Resource Details</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_to_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_to_Service_Resource</name>
        <label>Update Owner to Service Resource</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Get_Recepient_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service_Resource_Details.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Apppintment</name>
        <label>Update Service Apppintment</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Case_Details.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>DurationOfAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Case_Details.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Account__c</field>
            <value>
                <elementReference>Get_Case_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Case__c</field>
            <value>
                <elementReference>Get_Case_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Parent_Record_Type</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_2_mins</name>
            <connector>
                <targetReference>Send_Confirmation</targetReference>
            </connector>
            <label>Run After 2 mins</label>
            <maxBatchSize>2</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendAppointmentNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_Service_Resource_Details.ServiceResource.RelatedRecord.RSI_Name__c},
Appointment {!$Record.AppointmentNumber} scheduled for {!$Record.SchedStartTime} has been assigned to you
Thanks</text>
    </textTemplates>
    <variables>
        <name>RecepientUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecepientUsers</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
