force-app/main/default/flows/Appointment_Missed_Confirmation_Message_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_To_Assigned_Resources_if_Appointment_Time_Has_Passed</name>
        <label>Send Notification To Assigned Resources if Appointment Time Has Passed</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AppointmentTimePassedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Appointment {!$Record.AppointmentNumber}  has been closed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientUserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Service_Resource_Assigned</name>
        <label>Send Notification To Service Resource Assigned</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_SMS_Notification_To_Customer_For_Appointment_Rescheduling</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RescheduledAppointmentNotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Appointment {!$Record.AppointmentNumber}  has been assigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientUserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Notification_On_Appointment_Missed</name>
        <label>Send SMS Notification On Appointment Missed</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.SMS_Channel_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Appointment_Missed_Message_To_Customer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Notification_To_Customer_For_Appointment_Rescheduling</name>
        <label>Send SMS Notification To Customer For Appointment Rescheduling</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.SMS_Channel_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Appointment_Rescheduled_Confirmation_Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Recepient_User_List</name>
        <label>Recepient User List</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RecepientUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resource_Details.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_To_Assigned_Resources_if_Appointment_Time_Has_Passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recepient_User_List_1</name>
        <label>Recepient User List</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecepientUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resource_Details_1.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_To_Service_Resource_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Recepients_User_List_Is_Empty_or_not</name>
        <label>Check Recepients User List Is Empty or not</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_Notification_To_Customer_For_Appointment_Rescheduling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Resource_Details_1.ServiceResource.RelatedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recepient_User_List_1</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Date_Time_Has_Passed</name>
        <label>Check Scheduled Date Time Has Passed</label>
        <locationX>732</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_End_Time_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Appointment_Missed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Appointment_Time_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>Scheduled End Time Passed</label>
        </rules>
        <rules>
            <name>Check_if_Appointment_Missed_Marked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Appointment_Missed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Appointment_Missed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Notification_On_Appointment_Missed</targetReference>
            </connector>
            <label>Check if Appointment Missed Marked</label>
        </rules>
        <rules>
            <name>Check_If_Appointment_Time_Is_Resheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_2</targetReference>
            </connector>
            <label>Check If Appointment Time Is Resheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Recepients_User_List_Is_Empty_or_not</name>
        <label>Check Recepients User List Is Empty or not</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Resource_Details.ServiceResource.RelatedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recepient_User_List</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ScheduledDateEndTimeCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.SchedEndTime} &lt; NOW()</expression>
    </formulas>
    <interviewLabel>Appointment Missed Confirmation Message On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Missed Confirmation Message On Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_to_Cannot_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_2</name>
        <label>Get Notification Type</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Details_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Details</name>
        <label>Get Service Resource Details</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Recepients_User_List_Is_Empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Details_1</name>
        <label>Get Service Resource Details</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Recepients_User_List_Is_Empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Cannot_Complete</name>
        <label>Update Status to Cannot Complete</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Service_Resource_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Scheduled_Date_Time_Has_Passed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RS_Appointment_Missed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RS_Appointment_Time_Passed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AppointmentTimePassedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_Service_Resource_Details.ServiceResource.RelatedRecord.RSI_Name__c},
Appointment {!$Record.AppointmentNumber} scheduled against Case {!$Record.RS_Case__r.CaseNumber} for {!$Record.SchedStartTime} - {!$Record.SchedEndTime} has been closed. Add the required details or mark the appointment as missed.
Thanks</text>
    </textTemplates>
    <textTemplates>
        <name>RescheduledAppointmentNotificationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_Service_Resource_Details_1.ServiceResource.RelatedRecord.RSI_Name__c},
Appointment {!$Record.AppointmentNumber} scheduled for {!$Record.RS_Scheduled_Date_Time__c} has been assigned to you.
Thanks</text>
    </textTemplates>
    <variables>
        <name>RecepientUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
