force-app/main/default/flows/Authenticate_Existing_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Search_Condition</name>
        <label>Search Condition</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Result_Screen</targetReference>
            </connector>
            <label>AND</label>
        </rules>
        <rules>
            <name>OR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Result_Screen_0</targetReference>
            </connector>
            <label>OR</label>
        </rules>
    </decisions>
    <interviewLabel>Search Existing Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authenticate Existing Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Search_Result_Screen</name>
        <label>Search Result Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Inputs</backButtonLabel>
        <fields>
            <name>Instruction1</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchInstruction1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script1</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(70, 118, 195);&quot;&gt;{!$Label.RS_lwcSearchScript1}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction2</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchInstruction2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Datatable</name>
            <extensionName>c:rS_AccountDetailsListForExistingUser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstname</name>
                <value>
                    <elementReference>firstname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastname</name>
                <value>
                    <elementReference>lastname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accNumber</name>
                <value>
                    <elementReference>accnumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>condition</name>
                <value>
                    <elementReference>Condition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailId</name>
                <value>
                    <elementReference>emailid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>phonenumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InteractionId</name>
                <value>
                    <elementReference>InteractionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Result_Screen_0</name>
        <label>Search Result Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Inputs</backButtonLabel>
        <fields>
            <name>Instruction1_0</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchInstruction1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script1_0</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(70, 118, 195);&quot;&gt;{!$Label.RS_lwcSearchScript1}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction2_0</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchInstruction2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Datatable_0</name>
            <extensionName>c:rS_AccountDetailsListForExistingUser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstname</name>
                <value>
                    <elementReference>firstname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastname</name>
                <value>
                    <elementReference>lastname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accNumber</name>
                <value>
                    <elementReference>accnumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>condition</name>
                <value>
                    <elementReference>Condition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailId</name>
                <value>
                    <elementReference>emailid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>phonenumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InteractionId</name>
                <value>
                    <elementReference>InteractionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Condition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Condition</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phonenumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
