force-app/main/default/flows/Bill_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_with_Autopay_link</name>
        <label>Copy 1 of Email with Autopay link</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sc2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>rsinsqaorg@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bill Payment Link</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_with_Autopay_link</name>
        <label>Email with Autopay link</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sc2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>rsinsqaorg@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bill Payment Link</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>EmailAddressCase</name>
        <label>EmailAddress</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailAddressMS</name>
        <label>EmailAddressMS</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MS.Related_Account__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MS.Related_Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailAddressVoiceCall</name>
        <label>EmailAddressVC</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Voice_Call.Related_Account__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Voice_Call.Related_Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_record_Id</name>
        <label>Check record Id</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Customer_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>VoiceCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0LQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Voice_Call</targetReference>
            </connector>
            <label>VoiceCall</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MS</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Choice</name>
        <label>Customer Choice</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autopay_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_opt_for_autopay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_with_Autopay_link</targetReference>
            </connector>
            <label>Autopay Link</label>
        </rules>
        <rules>
            <name>Registration_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_opt_for_autopay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Email_with_Autopay_link</targetReference>
            </connector>
            <label>Registration Link</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bill Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bill Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailAddressCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MS</name>
        <label>Get MS</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailAddressMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Voice_Call</name>
        <label>Get Related Voice Call</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailAddressVoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>sc1</name>
        <label>sc1</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_record_Id</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_opt_for_autopay</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to opt for autopay?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc2</name>
        <label>sc2</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Script&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: An Email has been send to your registered email address. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sc1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!ContactName},
Please find the payment link for your Bill :
Payment + Autopay link : https://amazonaccelerator--rsinsqa01.sandbox.my.site.com/ReimagineInsurance
Regards,
Reimagine Service</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!ContactName},
Please find the payment link for your Bill :
https://amazonaccelerator--rsinsqa01.sandbox.my.site.com/ReimagineInsurance
Regards,
Reimagine Service</text>
    </textTemplates>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
