force-app/main/default/flows/Bot_SwitchToSMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>OutputVariable_0</name>
        <label>OutputVariable</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMessagingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessagingSessionIssueType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.IVRType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecovery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.Related_Account__r.Service_Recovery__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>OutputVariable_0_0</name>
        <label>OutputVariable</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMessagingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessagingSessionIssueType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.IVRIntent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecovery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.Related_Account__r.Service_Recovery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSSubIssueType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.Sub_Issue_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Issue_Type_Exists</name>
        <label>Check if Issue Type Exists</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>OutputVariable_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_Type_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call_Records.IVRIntent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutputVariable_0</targetReference>
            </connector>
            <label>Issue Type Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bot_SwitchToSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot_SwitchToSMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Severity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Severity</name>
        <label>Get Severity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseType__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Case_Details.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RS_CaseSeverity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call_Records</name>
        <label>Get Voice Call Records</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoiceCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Voice_Call_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingSessionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Voice_Call_Records.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_Account_Number__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.RS_CustomerAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_authenticated__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.RS_Customer_Identified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_reachout_reason__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.IVRType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_verified__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.RS_CustomerVerified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_DateOfBirth__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.RS_DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Existing_Case_Number__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.IVRInput__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_MessagingIntent__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.IVRIntent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Severity__c</field>
            <value>
                <elementReference>Get_Severity.RS_Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Sub_Issue_Type__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.Sub_Issue_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>Get_Voice_Call_Records.Related_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Voice_Call_Record</name>
        <label>Update Voice Call Record</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Check_if_Issue_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Switch_To_SMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Switching_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voice_Call_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MessagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingSessionIssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MSSubIssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceRecovery</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedMessagingSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VoiceCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
