force-app/main/default/flows/Cancel_Switching_Interactions_If_Case_Closed_Or_Cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Chatter_Message</name>
        <label>Send Chatter Message</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Notificationmessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Issue_Type_Matches</name>
        <label>Check if Issue Type Matches</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Issue_and_Sub_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Issue_Type_At_Interactions.IVRIntent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Issue_Type</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_issue_Matches</name>
        <label>Check issue Matches</label>
        <locationX>1238</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Update_Issue_Type_and_SubtypeMesssaging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Issue_Type_At_Messaging_Session_Interaction.RS_MessagingIntent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Issue_Type_Messsaging</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Case_Closed_Or_Cancelled</name>
        <label>IF Case Closed Or Cancelled</label>
        <locationX>666</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Message</targetReference>
            </connector>
            <label>If User Changed</label>
        </rules>
        <rules>
            <name>Case_Closed_Or_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_IVR_to_SMS_Voice_Calls_0</targetReference>
            </connector>
            <label>Case Closed Or Cancelled</label>
        </rules>
        <rules>
            <name>Check_If_Issue_Type_Changed</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_SubType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Voice_Call_Records</targetReference>
            </connector>
            <label>Check If Issue Type Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RSI_BaseUrl}&amp;&quot;/&quot;&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Cancel Switching Intercations If Case Closed Or Cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Switching Interactions If Case Closed Or Cancelled</label>
    <loops>
        <name>Cancel_All_IVR_to_SMS_Interactions_0</name>
        <label>Cancel All IVR to SMS Interactions</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_All_IVR_to_SMS_Voice_Calls_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Voice_Call_Switching_Status_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_All_SMS_to_IVR_Interactions_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Cancel_All_SMS_to_IVR_Interactions_0</name>
        <label>Cancel All SMS to IVR Interactions</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_all_SMS_to_IVR_Messaging_Sessions_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Messaging_Session_Switching_Status_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_Issue_Type_At_Interactions</name>
        <label>Update Issue Type At Interactions</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_All_Voice_Call_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Issue_Type_Matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Issue_Type_At_Messaging_Session_Interaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Issue_Type_At_Messaging_Session_Interaction</name>
        <label>Update Issue Type At Messaging Session Interaction</label>
        <locationX>1018</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_All_Associated_Messaging_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_issue_Matches</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Associated_Messaging_Sessions</name>
        <label>Get All Associated Messaging Sessions</label>
        <locationX>1018</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Issue_Type_At_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_IVR_to_SMS_Voice_Calls_0</name>
        <label>Get All IVR to SMS Voice Calls</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_SMS_to_IVR_Messaging_Sessions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RS_Switching_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_SMS_to_IVR_Messaging_Sessions_0</name>
        <label>Get all SMS to IVR Messaging Sessions</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_All_IVR_to_SMS_Interactions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RS_Switching_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Voice_Call_Records</name>
        <label>Get All Voice Call Records</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Associated_Messaging_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issue_and_Sub_Type</name>
        <label>Update Issue and Sub Type</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Issue_Type_At_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Issue_Type_At_Interactions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IVRIntent__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Issue_Type__c</field>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Issue_Type</name>
        <label>Update Issue Type</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Issue_Type_At_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Issue_Type_At_Interactions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IVRIntent__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Issue_Type__c</field>
            <value>
                <elementReference>$Record.RS_SubType__c</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Issue_Type_and_SubtypeMesssaging</name>
        <label>Update Issue Type and Sub type Messsaging</label>
        <locationX>1370</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Issue_Type_At_Messaging_Session_Interaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Issue_Type_At_Messaging_Session_Interaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_MessagingIntent__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Sub_Issue_Type__c</field>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Issue_Type_Messsaging</name>
        <label>Update Issue Type_Messsaging</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Issue_Type_At_Messaging_Session_Interaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Issue_Type_At_Messaging_Session_Interaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_MessagingIntent__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Sub_Issue_Type__c</field>
            <value>
                <elementReference>$Record.RS_SubType__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session_Switching_Status_0</name>
        <label>Update Messaging Session Switching Status</label>
        <locationX>490</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Cancel_All_SMS_to_IVR_Interactions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cancel_All_SMS_to_IVR_Interactions_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Switching_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Voice_Call_Switching_Status_0</name>
        <label>Update Voice Call Switching Status</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Cancel_All_IVR_to_SMS_Interactions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cancel_All_IVR_to_SMS_Interactions_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Switching_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF_Case_Closed_Or_Cancelled</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notificationmessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello @[{!$Record.Owner:User.Id}],

Case {!$Record.CaseNumber} has been assigned to you. Please take a look.
Link To Case-{!CaseRecordId}

Thanks
{!$Record__Prior.Owner:User.FirstName}.</text>
    </textTemplates>
</Flow>
