force-app/main/default/flows/Customer_Survey_Flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_survey_subject</name>
        <label>Add survey subject</label>
        <locationX>490</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>SurveySubjectRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurveySubjectRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CAIPCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_all_CAIP_closed_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_all_CAIP_closed_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_survey_subject</name>
        <label>assign survey subject</label>
        <locationX>490</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_all_CAIP_closed_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CAIP_Invitation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CAIP_survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CAIP_Invitation_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_all_CAIP_closed_cases.InvitationLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CAIP_Invitation_Record.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_all_CAIP_closed_cases.Survey_Invitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CAIP_Invitation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_survey_subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSurveySubject</name>
        <label>assignSurveySubject</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invitation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invitation_Record.SurveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveySubjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invitation_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSurveySubject</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_CAIP_chatbot</name>
        <label>Check for CAIP chatbot</label>
        <locationX>358</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Session_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSurveySubject</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Session_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation_for_CAIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InvExpDate</name>
        <dataType>DateTime</dataType>
        <expression>Now() + 0.08334</expression>
    </formulas>
    <formulas>
        <name>InvitationName</name>
        <dataType>String</dataType>
        <expression>&apos;INV -&apos;+{!$Record.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Customer Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Survey Flow</label>
    <loops>
        <name>For_all_CAIP_closed_cases</name>
        <label>For all CAIP closed cases</label>
        <locationX>402</locationX>
        <locationY>1415</locationY>
        <collectionReference>Get_all_Case_record_with_Session_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_survey_subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_survey_subject_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>358</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>InvitationRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Invitation_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteExpiryDateTime</field>
            <value>
                <elementReference>InvExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InvitationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>Get_Survey_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Invitation_for_CAIP</name>
        <label>Create Survey Invitation for CAIP</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignRecordIdToReference>InvitationRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_CAIP_Invitation_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteExpiryDateTime</field>
            <value>
                <elementReference>InvExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InvitationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>Get_CAIP_survey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_survey_subject_records</name>
        <label>Create survey subject records</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Caip_cases</targetReference>
        </connector>
        <inputReference>SurveySubjectRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSurveySubject</name>
        <label>CreateSurveySubject</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputReference>SurveySubjectRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Case_record_with_Session_Id</name>
        <label>Get all Case record with Session Id</label>
        <locationX>402</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_all_CAIP_closed_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Session_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAIP_Invitation_Record</name>
        <label>Get CAIP Invitation Record</label>
        <locationX>402</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Case_record_with_Session_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvitationRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAIP_survey</name>
        <label>Get CAIP survey</label>
        <locationX>358</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAIP Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_Record</name>
        <label>Get Community Record</label>
        <locationX>358</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Reimagine</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invitation_Record</name>
        <label>Get Invitation Record</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_CAIP_chatbot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvitationRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Record</name>
        <label>Get Survey Record</label>
        <locationX>358</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CAIP_survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RS Survey v0.1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Caip_cases</name>
        <label>Update Caip cases</label>
        <locationX>402</locationX>
        <locationY>1991</locationY>
        <inputReference>CAIPCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>InvitationLink__c</field>
            <value>
                <elementReference>Get_Invitation_Record.InvitationLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Invitation__c</field>
            <value>
                <elementReference>Get_Invitation_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CAIPCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>InvitationLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvitationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SurveySubjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>SurveySubjectRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
</Flow>
