force-app/main/default/flows/NBA_Case_Fields_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Coverage_value</name>
        <label>Add Coverage value</label>
        <locationX>534</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>listOfCoveragetype</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Coverage.RSI_Coverage_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Coverage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Home_Insurance_Policy_Coverage</name>
        <label>Home Insurance Policy Coverage</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSI_Transfer_to_new_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Check</name>
        <label>State Check</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Florida</name>
            <conditionLogic>(NOT (1)) AND (2)</conditionLogic>
            <conditions>
                <leftValueReference>listOfCoveragetype</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Windstorm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Florida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NBA_Case_Fields</targetReference>
            </connector>
            <label>Florida</label>
        </rules>
        <rules>
            <name>Ohio</name>
            <conditionLogic>(NOT (1)) AND (2)</conditionLogic>
            <conditions>
                <leftValueReference>listOfCoveragetype</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Windstorm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ohio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_NBA_Case_Fields</targetReference>
            </connector>
            <label>Ohio</label>
        </rules>
        <rules>
            <name>Minnesota</name>
            <conditionLogic>(NOT (1)) AND (2)</conditionLogic>
            <conditions>
                <leftValueReference>listOfCoveragetype</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Flood</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSI_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minnesota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_NBA_Case_Fields</targetReference>
            </connector>
            <label>Minnesota</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NBA Case Fields Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NBA Case Fields Update</label>
    <loops>
        <name>Loop_through_Coverage</name>
        <label>Loop through Coverage</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Policy_Coverage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Coverage_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>State_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Home_Policy</name>
        <label>Get Home Policy</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Coverage</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>RSI_Policy_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Insurance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RSI_Policy_Holder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Discussion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RSI_Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Coverage</name>
        <label>Get Policy Coverage</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Coverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RSI_Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Home_Policy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RSI_Insurance_Policy_Coverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_NBA_Case_Fields</name>
        <label>Copy 1 of Update NBA Case Fields</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>NBA_Florida_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Minnessota_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Ohio_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_NBA_Case_Fields</name>
        <label>Copy 2 of Update NBA Case Fields</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>NBA_Florida_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Minnessota_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Ohio_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NBA_Case_Fields</name>
        <label>Update NBA Case Fields</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>NBA_Florida_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Minnessota_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NBA_Ohio_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Home_Insurance_Policy_Coverage</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfPolicyCoverage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RSI_Insurance_Policy_Coverage__c</objectType>
    </variables>
    <variables>
        <name>HomePolicy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RSI_Insurance_Policy__c</objectType>
    </variables>
    <variables>
        <name>ListOfCoverage</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfCoveragetype</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
