force-app/main/default/flows/RS_Entitlement_SLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Status_Change_Notification</name>
        <label>Send Status Change Notification</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>StatusUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case Status Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>PortalUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PortalUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resume_Stop_Field_0</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resume_Stop_Field</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Stop_Field</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>CancelledOrCompleted</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Milestone_Record</targetReference>
            </connector>
            <label>Cancelled Or Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_Changed</name>
        <label>Check if Status Changed</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PortalUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Status_Change_Notification</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RS Entitlement SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RS Entitlement SLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Milestone_Record</name>
        <label>Get Case Milestone Record</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Id</name>
        <label>Get Notification Id</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Update_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pause_Stop_Field</name>
        <label>Pause Stop Field</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Estimated_Due_Date__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Left_in_Minutes__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resume_Stop_Field</name>
        <label>Resume Stop Field</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Estimated_Due_Date__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Left_in_Minutes__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetResponseInMins</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resume_Stop_Field_0</name>
        <label>Resume Stop Field</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Estimated_Due_Date__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Left_in_Minutes__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetResponseInMins</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Closed_Date</name>
        <label>Update Case Closed Date</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Date_Time_Closed_Cancelled__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Due_Date__c</field>
            <value>
                <elementReference>Get_Case_Milestone_Record.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Milestone_Record</name>
        <label>Update Case Milestone Record</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_Case_Closed_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_Record</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StatusUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_User.FirstName}, You Case {!$Record.CaseNumber} status has been updated from {!$Record__Prior.Status} to {!$Record.Status}.</text>
    </textTemplates>
    <variables>
        <name>PortalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PortalUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
