force-app/main/default/flows/RS_Search_Authenticate_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>RS_SearchAndAuthenticationClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>All_Conditions_Are_Met_AND</name>
        <choiceText>All Conditions Are Met (AND)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AND</stringValue>
        </value>
    </choices>
    <choices>
        <name>Any_Condition_is_Met_OR</name>
        <choiceText>Any Condition is Met (OR)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_a_new_customer_record</name>
        <choiceText>Create a new customer record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a new customer record</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_Existing_Customer</name>
        <choiceText>Search Existing Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Search Existing Customer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Selected_Option</name>
        <label>Selected Option</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Search_Existing_Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authenticate_Customer</targetReference>
            </connector>
            <label>Search Customer</label>
        </rules>
        <rules>
            <name>New_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_new_customer_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_customer_record</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RS Search &amp; Authenticate Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search &amp; Authenticate Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Option</targetReference>
        </connector>
        <fields>
            <name>Condition1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.RS_lwcSearchCondition1Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction1</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchCondition1Instruction}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script1</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(71, 124, 208);&quot;&gt;{!$Label.RS_lwcSearchCondition1Script}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Condition2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.RS_lwcSearchCondition2Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction2</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchCondition2Instruction}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(71, 124, 208);&quot;&gt;Script: Hello {!Get_Account_Details.FirstName}, please wait while we fetch your account details.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Condition3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.RS_lwcSearchCondition3Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Label.RS_lwcSearchCondition3Instruction}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Condition4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.RS_lwcSearchCondition4Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction4</name>
            <fieldText>&lt;p&gt;{!$Label.RS_lwcSearchCondition4Instruction}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_Option</name>
            <choiceReferences>Search_Existing_Customer</choiceReferences>
            <choiceReferences>Create_a_new_customer_record</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Picklist1</name>
            <choiceReferences>All_Conditions_Are_Met_AND</choiceReferences>
            <choiceReferences>Any_Condition_is_Met_OR</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All_Conditions_Are_Met_AND</defaultSelectedChoiceReference>
            <fieldText>Condition Requirement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_an_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Search_Existing_Customer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Details.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Details.AccountNumber</elementReference>
                    </defaultValue>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmailAdd</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Details.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Details.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PhNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Details.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_an_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Search_Existing_Customer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Phone_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_DOB</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_an_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Create_a_new_customer_record</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(87, 208, 71);&quot;&gt;Customer successfully authenticated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Instruction&lt;/strong&gt;: Please click the &apos;&lt;strong&gt;Refresh&lt;/strong&gt;&apos; button to have the authentication changes reflected on the page. Then move to&lt;strong&gt; Guided Workflow Tab&lt;/strong&gt; to assist the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(87, 208, 71);&quot;&gt;Customer record successfully created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instruction_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Instruction&lt;/strong&gt;: Please click the &apos;&lt;strong&gt;Refresh&lt;/strong&gt;&apos; button to have the authentication changes reflected on the page. Then move to &lt;strong&gt;Guided Workflow Tab&lt;/strong&gt; to assist the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authenticate_Customer</name>
        <label>Authenticate Customer</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Authenticate_Existing_Customer</flowName>
        <inputAssignments>
            <name>accnumber</name>
            <value>
                <elementReference>AccNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Condition</name>
            <value>
                <elementReference>Picklist1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailid</name>
            <value>
                <elementReference>EmailAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>firstname</name>
            <value>
                <elementReference>FName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteractionId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lastname</name>
            <value>
                <elementReference>LName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phonenumber</name>
            <value>
                <elementReference>PhNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_new_customer_record</name>
        <label>Create new customer record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <flowName>Create_New_Customer</flowName>
        <inputAssignments>
            <name>New_AccNumber</name>
            <value>
                <elementReference>Create_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_DOB</name>
            <value>
                <elementReference>Create_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_EmailAddress</name>
            <value>
                <elementReference>Create_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_FirstName</name>
            <value>
                <elementReference>Create_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_LastName</name>
            <value>
                <elementReference>Create_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_PhoneNumber</name>
            <value>
                <elementReference>Create_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
