force-app/main/default/flows/SCVBC_Callback_Voice_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SCVBC - Callback Voice Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCVBC - Callback Voice Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Voice_Call_Record</name>
        <label>Get Previous Voice Call Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Callback_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RS_Callback_Voicecall_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Callback_Record</name>
        <label>Update Callback Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>IVRInput__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.IVRInput__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRIntent__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.IVRIntent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRType__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.IVRType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Alternative_Connect_Requested__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_Alternative_Connect_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Alternative_Number__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_Alternative_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_CustomerAccountNumber__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_CustomerAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_CustomerVerified__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_CustomerVerified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_Identified__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_Customer_Identified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_DateOfBirth__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Preferred_Callback_Time__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_Preferred_Callback_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Previous_Call__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Severity__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RS_Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.Related_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Issue_Type__c</field>
            <value>
                <elementReference>Get_Previous_Voice_Call_Record.Sub_Issue_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Previous_Voice_Call_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RS_Callback_Voicecall_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
