force-app/main/default/flows/SCVCB_Voice_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendTransferSMS_0_0</name>
        <label>SendTransferSMS</label>
        <locationX>1194</locationX>
        <locationY>528</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_13392127425</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>IVRTransfer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>SMSPhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddCaseToVoiceRecord</name>
        <label>AddCaseToVoiceRecord</label>
        <locationX>666</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>$Record.RS_Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Severity.RS_Severity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_related_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_0</name>
        <label>Assign Account</label>
        <locationX>600</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IVRSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_0</name>
        <label>Assign  Case</label>
        <locationX>578</locationX>
        <locationY>1920</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_CustomerAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Customer_Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_DateOfBirth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IVRIntent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_MessagingIntent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_Customer_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Customer_authenticated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IVRInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Existing_Case_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_CustomerVerified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Customer_verified__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.Related_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Severity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Sesssion_Record.RS_Sub_Issue_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LinkCasetoVoiceCall_0_0_0</name>
        <label>LinkCasetoVoiceCall</label>
        <locationX>402</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RS_Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Severity_For_Existing_Case.RS_Severity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IVRIntent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase_0_0_0.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase_0_0_0.RS_SubType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_related_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Alternative_Number</name>
        <label>Check For Alternative Number</label>
        <locationX>182</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>Get_Phone_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alternative_Number_Is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_SMS_Alternative_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_alternative_Number1</targetReference>
            </connector>
            <label>Alternative Number Is Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Messaging_Session</name>
        <label>Check for Messaging Session</label>
        <locationX>710</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>UpdateVoiceCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_messaging_Status_is_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Sesssion_Record.RS_switchtovoice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Messaging_Sesssion_Record.RS_Switching_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_0</targetReference>
            </connector>
            <label>Check if messaging Status is Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_related_record</name>
        <label>Check for related record</label>
        <locationX>600</locationX>
        <locationY>1560</locationY>
        <defaultConnector>
            <targetReference>UpdateVoiceCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVRtoSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Switch_To_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Switching_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Alternative_Number</targetReference>
            </connector>
            <label>IVRtoSMS</label>
        </rules>
        <rules>
            <name>Case_Not_Attached</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.messagingsessionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Sesssion_Record</targetReference>
            </connector>
            <label>Case Not Attached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Found</name>
        <label>Check if Case Found</label>
        <locationX>270</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindCase_0_0_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Severity_To_Medium</targetReference>
            </connector>
            <label>Case NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Requested_Time</name>
        <label>Check Requested Time</label>
        <locationX>1326</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Switching_Requested_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Phone_Number1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IVRSelection</name>
        <label>IVRSelection</label>
        <locationX>600</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Check_for_related_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (NewCase)</defaultConnectorLabel>
        <rules>
            <name>ExistingCase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IVRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExistingCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IVRType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCase_0_0_0</targetReference>
            </connector>
            <label>ExistingCase</label>
        </rules>
        <rules>
            <name>InboundCaseCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IVRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Callback_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.messagingsessionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Callback_Voicecall_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Severity</targetReference>
            </connector>
            <label>InboundCaseCreation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Get8DigitCaseNumber</name>
        <dataType>String</dataType>
        <expression>&quot;0000&quot;&amp;  {!$Record.IVRInput__c}</expression>
    </formulas>
    <formulas>
        <name>IncrementFormulaVariable</name>
        <dataType>Number</dataType>
        <expression>{!FindCase_0_0_0.RS_Interactions__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SMSPhone</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Phone}, 10)</expression>
    </formulas>
    <interviewLabel>SCVCB - Voice Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCVCB - Voice Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Adding 0000 to a 4-digit input for case number.</description>
        <name>FindCase_0_0_0</name>
        <label>FindCase</label>
        <locationX>270</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get8DigitCaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>600</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RS_CustomerAccountNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_alternative_Number1</name>
        <label>Get alternative Number</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>VoiceCall</object>
        <outputAssignments>
            <assignToReference>Phone</assignToReference>
            <field>RS_SMS_Alternative_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>600</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_0</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_0.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FromPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Sesssion_Record</name>
        <label>Get Messaging Sesssion Record</label>
        <locationX>710</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.messagingsessionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Number</name>
        <label>Get Phone Number</label>
        <locationX>314</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>VoiceCall</object>
        <outputAssignments>
            <assignToReference>Phone</assignToReference>
            <field>FromPhoneNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Number1</name>
        <label>Get Phone Number</label>
        <locationX>1194</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendTransferSMS_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>VoiceCall</object>
        <outputAssignments>
            <assignToReference>Phone</assignToReference>
            <field>RS_SMS_Alternative_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Severity</name>
        <label>Get Severity</label>
        <locationX>666</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddCaseToVoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseType__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.IVRIntent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RS_CaseSeverity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Severity_For_Existing_Case</name>
        <label>Get Severity For Existing Case</label>
        <locationX>402</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkCasetoVoiceCall_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindCase_0_0_0.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RS_CaseSeverity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>402</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Get_Severity_For_Existing_Case</targetReference>
        </connector>
        <inputReference>FindCase_0_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>578</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.messagingsessionId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Switching_Status__c</field>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Severity_To_Medium</name>
        <label>Update Severity To Medium</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Check_for_related_record</targetReference>
        </connector>
        <inputAssignments>
            <field>RS_Severity__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVoiceCall</name>
        <label>UpdateVoiceCall</label>
        <locationX>600</locationX>
        <locationY>2352</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_0</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_SMS_Notification</name>
            <connector>
                <targetReference>Check_Requested_Time</targetReference>
            </connector>
            <label>Send SMS Notification</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
