force-app/main/default/flows/Send_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>110</locationX>
        <locationY>408</locationY>
        <actionName>Case.Send_Survey_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Survey_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_as_SMS</name>
        <label>Send Survey as SMS</label>
        <locationX>506</locationX>
        <locationY>684</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Update_Survey_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.SMS_Channel_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>SMS_Template_for_sending_Surveys</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Case_Last_Interaction_Channel</name>
        <label>Case Last Interaction Channel</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Send_Survey_as_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel_is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Last_Interaction_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Channel is Email</label>
        </rules>
        <rules>
            <name>Channel_is_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Last_Interaction_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_as_SMS</targetReference>
            </connector>
            <label>Channel is SMS</label>
        </rules>
        <rules>
            <name>Channel_is_Voice_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Last_Interaction_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_as_SMS</targetReference>
            </connector>
            <label>Channel is Voice Call</label>
        </rules>
        <rules>
            <name>Channel_is_Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_Last_Interaction_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_as_SMS</targetReference>
            </connector>
            <label>Channel is Live Chat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Survey_Checkbox</name>
        <label>Update_Survey_Checkbox</label>
        <locationX>506</locationX>
        <locationY>804</locationY>
        <inputAssignments>
            <field>Survey_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Survey</name>
            <connector>
                <targetReference>Case_Last_Interaction_Channel</targetReference>
            </connector>
            <label>Send Survey</label>
            <offsetNumber>11</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
