force-app/main/default/flows/Send_Email_for_Escalated_Caes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_0</name>
        <label>Post to Chatter</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>postToChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_0_0</name>
        <label>Post to Chatter</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostToChatterIfManagerNotAvailable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_Manager_Assigned</name>
        <label>Check if Manager Assigned</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Manager_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_0</targetReference>
            </connector>
            <label>If Manager Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalated_Cases</name>
        <label>Escalated Cases</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_Cases_High_End_Custoner</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_CaseIntercationCount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Last_N_Negative_Interactions__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Escalated Cases High End Custoner</label>
        </rules>
        <rules>
            <name>Escalated_Cases_Low_End_Customer</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RS_CaseIntercationCount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RS_Last_N_Negative_Interactions__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0</targetReference>
            </connector>
            <label>Escalated Cases Low End Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email for Escalated Caes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email for Escalated Caes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Manager_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escalated_Cases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello @[{!$Record.Owner:User.Id}],   
Your Case Number :{!$Record.CaseNumber}  has been escalated. Please resolve the issue on priority. CC: @[{!$Record.Owner:User.Manager.Id}]</text>
    </textTemplates>
    <textTemplates>
        <name>postToChatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello @[{!$Record.Owner:User.Id}],  CC: @[{!$Record.Owner:User.Manager.Id}]
Your Case Number : {!$Record.CaseNumber}]  has been escalated. Please resolve the issue on priority. 
Link to case -{!$Label.RSI_BaseUrl}/lightning/r/Case/{!$Record.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>PostToChatterIfManagerNotAvailable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello @[{!$Record.Owner:User.Id}], Your Case Number : {!$Record.CaseNumber} has been escalated. Please resolve the issue on priority.
Link to case - {!$Label.RSI_BaseUrl}/lightning/r/Case/{!$Record.Id}/view</text>
    </textTemplates>
    <variables>
        <name>isEscalated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
