force-app/main/default/flows/to_update_messaging_session_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_If_Case_Not_Found</name>
        <label>Check If Case Not Found</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_case_On_Messaging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Details.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Severity_To_Medium</targetReference>
            </connector>
            <label>Case Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Needs_to_update</name>
        <label>What Needs to update</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Update_Verfication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verification</defaultConnectorLabel>
        <rules>
            <name>Authenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authentication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>authentication</targetReference>
            </connector>
            <label>Authentication</label>
        </rules>
        <rules>
            <name>RS_Existing_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casetype</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RS_update_existing_case</targetReference>
            </connector>
            <label>CaseType</label>
        </rules>
        <rules>
            <name>RS_New_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casedetails</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case</targetReference>
            </connector>
            <label>Casedetails</label>
        </rules>
        <rules>
            <name>UpdateCaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>updatecase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseId</targetReference>
            </connector>
            <label>UpdateCaseId</label>
        </rules>
        <rules>
            <name>intent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>intent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_Intent_issue_type</targetReference>
            </connector>
            <label>Intent</label>
        </rules>
    </decisions>
    <description>Created new input variable</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <expression>&quot;0000&quot;&amp;{!ExistingCaseDetails}</expression>
    </formulas>
    <formulas>
        <name>IncrementVariable</name>
        <dataType>Number</dataType>
        <expression>{!Get_Case_Details.RS_Interactions__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>to update messaging session field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot -update messaging session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_ID</name>
        <label>Get Account ID</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseId</name>
        <label>GetCaseId</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseOnMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSeverity</name>
        <label>GetSeverity</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Case_Not_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseType__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Case_Details.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RS_CaseSeverity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>authentication</name>
        <label>authentication</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Customer_Account_Number__c</field>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_authenticated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>New_Case</name>
        <label>CaseDetails</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Existing_Case_Number__c</field>
            <value>
                <elementReference>ExistingCaseDetails</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>RS_update_existing_case</name>
        <label>update existing case</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Customer_reachout_reason__c</field>
            <value>
                <elementReference>Input_customerReachoutReason</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Details</name>
        <label>Update Account Details</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Customer_Account_Number__c</field>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>Get_Account_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>GetSeverity</targetReference>
        </connector>
        <inputReference>Get_Case_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_On_Messaging</name>
        <label>Update case On Messaging</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Case_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_MessagingIntent__c</field>
            <value>
                <elementReference>Get_Case_Details.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Severity__c</field>
            <value>
                <elementReference>GetSeverity.RS_Severity__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Intent_issue_type</name>
        <label>Update Messaging Intent(issue type)</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_MessagingIntent__c</field>
            <value>
                <elementReference>MessagingIntent</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Severity_To_Medium</name>
        <label>Update Severity To Medium</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Severity__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verfication</name>
        <label>Update Verfication</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Customer_Account_Number__c</field>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_Customer_verified__c</field>
            <value>
                <elementReference>CustomerVerified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RS_DateOfBirth__c</field>
            <value>
                <elementReference>CustomerDOB</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOnMS</name>
        <label>UpdateCaseOnMS</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>GetCaseId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Needs_to_update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerDOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerReachoutReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingCaseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_customerReachoutReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingIntent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
