force-app/main/default/flows/Update_Survey_Invitation_with_Response_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Case_Records</name>
        <label>Add Case Records</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Feedback_on_all_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Feedback_on_all_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_feedback_field</name>
        <label>Assign feedback field</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Assign_Feedback_on_all_cases.RS_Survey_Question_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Question_Name</name>
        <label>Check for Question Name</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_your_exp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate your experience with us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invitation_Record</targetReference>
            </connector>
            <label>Rate your exp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Survey Invitation with Response Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Survey Invitation with Response Value</label>
    <loops>
        <name>Assign_Feedback_on_all_cases</name>
        <label>Assign Feedback on all cases</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_feedback_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Feedback_on_all_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Invitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invitation_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invitation_Record</name>
        <label>Get Invitation Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Update_Survey_Invitation_Record</targetReference>
        </connector>
        <inputReference>CaseRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_Record</name>
        <label>Update Survey Invitation Record</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invitation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RS_Survey_Question_Response__c</field>
            <value>
                <elementReference>$Record.NumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Question_Name</targetReference>
        </connector>
        <object>SurveyQuestionResponse</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ResponseValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
